<div class='well big'>In building this site, I needed to be able to access up-to-date
  information about the Crossroads' current status as a fiberhood. This revealed some
  other interesting information, which I'm collecting here.</div>

<div class='row'>
  <div class='stat span4'>
    <h3>Eligible Homes</h3>
    <span class='number'><%= format_number @stats["total_available"] %></span>
  </div>
  
  <div class='stat span4' title="The total number of homes that would need to pre-register to activate all fiberhoods.">
    <h3>Total Goal Homes</h3>
    <span class='number'><%= format_number @stats["total_threshold"] %></span>
  </div>

  <div class='stat span4'>
    <h3>Pre-Registrations</h3>
    <span class='number'><%= format_number @stats["total_active"] %></span>
  </div>
</div>

<div class='row'>
  <div class='stat span4'>
    <h3>Fiberhoods</h3>
    <span class='number'><%= format_number @stats["total_hoods"] %></span>
  </div>
  
  <div class='stat span4' title="The total number of homes that would need to pre-register to activate all fiberhoods.">
    <h3>Goal Met Fiberhoods</h3>
    <span class='number'><%= format_number @stats["active_hoods"] %></span>
  </div>
</div>

<div class='row'>
  <div class='stat-list span6'>
    <h3>Hardest Goal Fiberhoods</h3>
    <ol>
      <% $redis.zrevrange("stats:hood_goals", 0, 9, withscores: true).each do |(name,percent)| %><li><span class='value'><%= percent.to_i %>%</span> <span class='name'><%= name %></span></li>
      <% end %>
    </ol>
  </div>

  <div class='stat-list span6'>
    <h3>Top Ranked Fiberhoods</h3>
    <ol>
      <% $redis.zrange("stats:rank", 0, 9, withscores: true).each do |(name,rank)| %><li><span class='value'><%= rank.to_i %></span> <span class='name'><%= name %></span></li>
      <% end %>
    </ol>
  </div>
</div>